#main-canvas {
	width: 800px;
	height: 500px;
	border: 2px solid black;
	background: #d79c50;
	
	/* the following 4 lines is a cool way to center something on the screen */
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
body {
	background: black;
}
h1 {
	margin-bottom: auto;
	color: pink;
	text-align: center;
	margin-top: 20px;
	font-size: 5rem;
	font-family: 'Courier New', Courier, monospace;
}
#reset {
	display: flex;
	margin: auto;
	align-items: center;
}